ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
    border-radius: 10px;
}

.mismo-fondo {
  background-color: lightblue;
}
body {
    font-family: 'Montserrat', sans-serif;
}
