# Auto detect text files and perform LF normalization
* text=auto
index.html
<html>
<!doctype html>
<html LANG=es>
<head>
<meta charset="UTF-8">
<title> 
shinwa 
</title>
</head>
<body>
<header> 
introducción 
</header>
